@charset "UTF-8";
@media screen and (min-width: 1441px) {
  .__pc {
    display: inline-block;
  }
  .__sp {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .__pc {
    display: inline-block;
  }
  .__sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .__pc {
    display: none;
  }
  .__sp {
    display: inline-block;
  }
}

html, body {
  width: 100%;
  height: 100%;
  color: #444;
  font-family: fot-tsukubrdgothic-std,"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  line-height: 1;
  font-weight: 700;
  font-size: 10px;
}

@media screen and (max-width: 1440px) {
  html, body {
    font-size: 8px;
  }
}

@media screen and (max-width: 767px) {
  html, body {
    font-size: 7px;
  }
}

html a, body a {
  text-decoration: none;
  color: #444;
  transition: .5s;
}

html h2, html h3, html h4, body h2, body h3, body h4 {
  color: #f70;
}

html p, html li, body p, body li {
  font-size: 1.6rem;
  line-height: 2;
}

* {
  box-sizing: border-box;
}

.__en {
  font-family: bilo, sans-serif;
  font-weight: 800;
}

.__line::after {
  content: '';
  border-bottom: 4px solid #f70;
  position: absolute;
  width: 8rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.__note {
  font-size: 1.4rem;
  color: #777;
}

.btn {
  width: 24rem;
  height: 8rem;
  border: #f70 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #f70;
  border-radius: 4rem;
  box-shadow: 0 0.8rem 0 0 #f70;
  font-size: 2rem;
  transition: .5s;
  cursor: pointer;
}

.btn:hover {
  background: #f70;
  box-shadow: 0 0.8rem 0 0 #FFAE66;
  color: #fff;
  border-color: #FFAE66;
}

nav {
  position: fixed;
  top: 50%;
  left: -96rem;
  transform: translateY(-50%);
  height: 100%;
  width: 96rem;
  z-index: 999;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  display: flex;
}

nav.show {
  opacity: 1;
  visibility: visible;
  transform: translate(96rem, -50%);
}

@media screen and (max-width: 767px) {
  nav {
    left: -100%;
    width: 100%;
  }
  nav.show {
    transform: translate(100%, -50%);
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
}

nav ul li {
  font-size: 2.4rem;
  position: relative;
  z-index: 980;
}

nav ul a {
  color: #f70;
  transition: .5s;
}

nav ul a:hover {
  opacity: 0.5;
}

nav svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  fill: #f70;
  width: 40rem;
  height: auto;
  opacity: 0.1;
}

.navIcon {
  display: flex;
  gap: 2rem;
  position: fixed;
  top: 4.6rem;
  right: 4%;
  z-index: 9998;
}

.navIcon .shopIcon, .navIcon .instagram {
  width: 6.8rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
  background: #f70;
  border-radius: 50%;
}

.navIcon .shopIcon:hover, .navIcon .instagram:hover {
  background: #fff;
}

.navIcon .shopIcon:hover svg, .navIcon .instagram:hover svg {
  fill: #f70;
}

.navIcon .shopIcon svg, .navIcon .instagram svg {
  width: 4rem;
  height: 4rem;
  fill: #fff;
}

.navIcon #toggle {
  width: 6.8rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
  background: #f70;
  border-radius: 50%;
}

.navIcon #toggle:hover {
  background: #fff;
}

.navIcon #toggle:hover .line {
  background: #f70;
}

.navIcon #toggle span.line {
  width: 4rem;
  height: 0.4rem;
  background: #fff;
  z-index: 9999;
  transition: .5s;
  border-radius: 2.4rem;
  position: absolute;
}

.navIcon #toggle span.line#line1 {
  top: 2rem;
}

.navIcon #toggle span.line#line1.line1 {
  transform: rotate(-45deg);
  top: 3.2rem;
}

.navIcon #toggle span.line#line2 {
  top: 47%;
}

.navIcon #toggle span.line#line2.line2 {
  opacity: 0;
  visibility: hidden;
}

.navIcon #toggle span.line#line3 {
  bottom: 2rem;
}

.navIcon #toggle span.line#line3.line3 {
  transform: rotate(45deg);
  bottom: 3.2rem;
}

header {
  height: 16rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: -1%;
}

header h1 a svg {
  transition: .5s;
}

header h1 a svg:hover {
  fill: #fff;
}

header h1 svg {
  fill: #f70;
  width: 12rem;
}

main {
  padding: 5rem 0;
  margin-top: -15rem;
}

main a {
  color: #f70;
  transition: .5s;
}

main a:hover {
  opacity: 0.5;
}

main section {
  padding: 5rem 0;
  background: #fff;
  width: 71%;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 10rem;
  position: relative;
  border-radius: 40px;
}

main section h2 {
  font-size: 3.6rem;
  margin-bottom: 5rem;
  color: #f70;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}

main section h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  width: 52.083vw;
}

main section p {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.attention span {
  color: #f70;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer #copyright {
  width: 90%;
  margin: 0 auto;
  height: 8rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  color: #f70;
}

#index {
  width: 100%;
  height: 100%;
  background: url(../img/index_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (max-width: 767px) {
  #index {
    background-image: url(../img/sp_index_bg.webp);
  }
}

#index main .copyWrap {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
}

#index main .copyWrap .copy {
  color: #f70;
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.6rem;
}

@media screen and (max-width: 767px) {
  #index main .copyWrap .copy {
    color: #fff;
  }
}

#about {
  height: auto;
  background: url(../img/about_bg.webp);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #about {
    background: url(../img/sp_about_bg.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

#about main {
  padding: 16rem 0;
  padding-bottom: 8rem;
}

#about main section {
  padding: 10rem 0 10rem 0;
  background: #fff;
  width: 71%;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  #about main section {
    width: 100%;
    border-radius: 0;
  }
}

#about main section p {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

#about main section .btn {
  margin: 0 auto;
  margin-bottom: 2rem;
}

#about footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#tukuru {
  height: auto;
  background: url(../img/tukuru_bg.webp);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #tukuru {
    background: url(../img/sp_tukuru_bg.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

#tukuru main {
  padding: 16rem 0;
  padding-bottom: 8rem;
}

#tukuru main section {
  padding: 10rem 0 10rem 0;
  background: #fff;
  width: 71%;
  margin: 0 auto;
  margin-bottom: 10rem;
  z-index: 1;
  position: relative;
}

#tukuru main section:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #tukuru main section {
    width: 100%;
    border-radius: 0;
  }
}

#tukuru main section .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#tukuru main section .wrap .btn {
  margin: 0;
}

#tukuru main section p {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

#tukuru main section table {
  margin: 0 auto;
}

#tukuru main section table tr th {
  width: 19rem;
}

#tukuru main section table tr th, #tukuru main section table tr td {
  font-size: 2rem;
  padding-bottom: 4rem;
}

#tukuru main section table tr th:last-child, #tukuru main section table tr td:last-child {
  padding-bottom: 2rem;
}

#tukuru main section .btn {
  margin: 0 auto;
  margin-bottom: 2rem;
}

#tukuru footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#order {
  height: auto;
  background: url(../img/order_bg.webp);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #order {
    background: url(../img/sp_order_bg.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

#order main {
  padding: 16rem 0;
  padding-bottom: 8rem;
}

#order main section {
  padding: 10rem 0 10rem 0;
  background: #fff;
  width: 71%;
  margin: 0 auto;
  margin-bottom: 10rem;
  z-index: 1;
  position: relative;
}

#order main section:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #order main section {
    width: 100%;
    border-radius: 0;
  }
}

#order main section .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#order main section .wrap.order {
  margin: 0 5%;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  #order main section .wrap.order {
    flex-direction: column-reverse;
  }
}

#order main section .wrap p {
  text-align: left;
  margin: 0;
}

#order main section .wrap .sampleImg {
  width: 36rem;
  height: auto;
}

#order main section .wrap .sampleImg img {
  width: 100%;
  height: auto;
}

#order main section .wrap .btn {
  margin: 0;
}

#order main section p {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

#order main section .btn {
  margin: 0 auto;
  margin-bottom: 2rem;
}

#order footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#access {
  height: auto;
  background: url(../img/access_bg.webp);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #access {
    background: url(../img/sp_access_bg.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

#access main {
  padding: 16rem 0;
  padding-bottom: 8rem;
}

#access main section {
  padding: 10rem 0 5rem 0;
  background: #fff;
  width: 71%;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 0;
  position: relative;
  border-radius: 40px;
}

@media screen and (max-width: 767px) {
  #access main section {
    width: 100%;
    border-radius: 0;
  }
}

#access main section h2 {
  font-size: 3.6rem;
  margin-bottom: 5rem;
  width: 52.083vw;
  color: #f70;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}

#access main section h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  width: 52.083vw;
}

#access main section p {
  margin: 0 26rem;
  margin-bottom: 4rem;
}

#access main section p:last-child {
  text-align: center;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #access main section p {
    margin-left: 5%;
    margin-right: 5%;
  }
}

#access main section .btn {
  margin: 0 auto;
  margin-bottom: 2rem;
}

#access main section table {
  margin: 0 14%;
}

@media screen and (max-width: 767px) {
  #access main section table {
    margin: 0 5%;
  }
}

#access main section table tr th {
  width: 16.5rem;
}

#access main section table tr th, #access main section table tr td {
  font-size: 2rem;
  padding-bottom: 4rem;
}

#access main section table tr th:last-child, #access main section table tr td:last-child {
  padding-bottom: 2rem;
}

#access footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */